<div class="offline-doc">
    <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container">

            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" (click)=" verLogin(true)"
                            target="_blank">
                            LOGIN
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" style="background-image: url('../assets/img/22.jpg');"></div>
        <div class="container text-center">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <!--
                    <h1 class="title">
                        Now UI Dashboard
                    </h1>
                    <h3 class="description">Documentation v1.5.0</h3>
                    <br />
                    <a href="https://demos.creative-tim.com/now-ui-dashboard/docs/1.0/getting-started/introduction.html"
                        class="btn btn-primary btn-round btn-lg">View documentation</a>-->
                    <div class="card">

                        <div class="card-body">
                            
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input id="txtNombreRef" type="text" class="form-control" placeholder="Nombre" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Apellido</label>
                                            <input id="txtApellidoRef" type="text" class="form-control" placeholder="Apellido"
                                                >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Cedula</label>
                                            <input id="txtCedulaRef" type="number" type="text" class="form-control" placeholder="Cedula" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input id="txtEmailRef" type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Direccion</label>
                                            <input id="txtDireccionRef" type="text" class="form-control" placeholder="Direccion"
                                                >
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Contraseña</label>
                                            <input id="txtContrasena1Ref" type="password" class="form-control" placeholder="*********"  >
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Repita Contraseña</label>
                                            <input id="txtContrasena2Ref" type="password" class="form-control" placeholder="*********"
                                                >
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button (click)="Registrar()" class="btn btn-primary btn-block" >GUARDAR</button>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>