<div class="row">
    <div class="col-md-12">
        <div class="card ">


            <div class="card-header ">
                Nuevo Pedido

            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="text" value="{{fecha}}" readonly="true" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-8 ">
                        <button type="button" class="btn btn-round btn-outline-default  btn-simple "
                            style="float: right;" data-toggle="modal" data-target="#myModal">
                            PRODUCTO <i class="now-ui-icons ui-1_simple-add"></i>
                        </button>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Prenda
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Cant.
                            </th>
                            <th>
                                Sub. Total
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let itemP of ListaProductosPedido ">
                                <td>
                                    {{itemP.Nombre}}
                                </td>
                                <td>
                                    {{itemP.Cantidad}}
                                </td>
                                <td>
                                    {{itemP.Precio.toFixed(2)}}$
                                </td>
                                <td>
                                    {{itemP.subTotal.toFixed(2)}}$
                                </td>

                                <td>

                                    <button type="button" (click)="eliminar(itemP.Id)"
                                        class="btn btn-round btn-outline-default btn-simple btn-icon no-caret">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>


                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        
                    </div>
                    <div class="col-md-2 ">
                        <div class="form-group">
                            
                            <input type="text" style="text-align:right;" value="{{total.toFixed(2)}} $" readonly="true" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <button style="float: right;" class="btn btn-primary btn-block" (click)="guardar()">GUARDAR</button>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h2 class="modal-title">Lista de Prendas</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputName2">Cantidad</label>
                    <input type="number" class="form-control" id="txtCantidadModal" value="1">
                </div>
                <table class="table">
                    <tbody>
                        <tr class="table-row" *ngFor="let item of items | async">
                            <td class="table-img">
                                {{item.Nombre}}
                            </td>
                            <td class="table-text">
                                <!--
                                <h6> {{ item.payload.val().Fecha }}</h6>
                                <p>{{ item.payload.val().Total }}</p>
                            *ngFor="let item of items | async" (click)='AnadirProductoPedido(item.Nombre,item.Precio,item.key)'
                            {{item.Nombre}}
                            {{item.Precio}}
                            -->
                            </td>
                            <td>
                                <span class="fam"> $ {{item.Precio}} </span>
                            </td>


                            <td>
                                <a data-dismiss="modal" (click)='SeleccionarPrenda(item.Nombre,item.Precio,item.key)'>
                                    <i class="fa fa-plus-square icon-state-warning"></i>
                                </a>


                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>